<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/all/css/bootstrap.min.css">
    <script src="/all/js/jquery-3.5.1.min.js"></script>
    <script src="/all/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li><a href="/toRecord">查看我的原始记录</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/toAnalysis">分析并查看考勤报表</a></li>
                <li th:if="${session.user.isFaced == 0}"><a href="/registry/toFace">还没注册人脸，是否去注册？</a></li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="row">
    <div class="col-md-6 col-md-offset-3">

        <form class="form-inline" action="/analysis" method="post">
            <div class="form-group">
                <span style="font-size: large">选择时间</span><input type="month" id="begintime" name="time">
            </div>
            <button type="submit" class="btn btn-primary">查询</button>
        </form>


        <table class="table table-bordered table-hover "  >

            <tr>
                <td>日期</td>
                <td>姓名</td>
                <td>编号</td>
                <td>是否迟到</td>
                <td>是否早退</td>
                <td>是否上午未打卡</td>
                <td>是否下午未打卡</td>
            </tr>
            <tr th:each="eveday:${info}" >
                <td th:text="${eveday.getDay()}">日期</td>
                <td th:text="${eveday.getName()}">姓名</td>
                <td th:text="${eveday.getId()}">编号</td>
                <td th:text="${eveday.isLate()?'迟到':''}">是否迟到</td>
                <td th:text="${eveday.isEarly()?'早退':''}">是否早退</td>
                <td th:text="${eveday.isNoEarlyRecord()?'上午未打卡':''}">是否上午未打卡</td>
                <td th:text="${eveday.isNoLateRecord()?'下午未打卡':''}">是否下午未打卡</td>
            </tr>


<!--                <td th:text="${#dates.format(all.getRecord().getTime(), 'yyyy年MM月dd日 HH:mm:ss')}">1</td>-->

        </table>
    </div>

</div>

</body>

<script>

    var format = "";
    var format1 = "";
    $(document).ready(function (){
        getFormat();
        document.getElementById("endtime").value = format;
        getFormat1();
        document.getElementById("begintime").value = format1;

    });



    //构造符合datetime-local格式的当前日期
    function getFormat(){
        format = "";
        var nTime = new Date();
        format += nTime.getFullYear()+"-";
        format += (nTime.getMonth()+1)<10?"0"+(nTime.getMonth()+1):(nTime.getMonth()+1);
        format += "-";
        format += nTime.getDate()<10?"0"+(nTime.getDate()):(nTime.getDate());
        format += "T";
        format += nTime.getHours()<10?"0"+(nTime.getHours()):(nTime.getHours());
        format += ":";
        format += nTime.getMinutes()<10?"0"+(nTime.getMinutes()):(nTime.getMinutes());
        // format += ":00";
    }

    function getFormat1(){
        format1 = "";
        var nTime = new Date();
        format1 += nTime.getFullYear()+"-";
        format1 += (nTime.getMonth()+1)<10?"0"+(nTime.getMonth()):(nTime.getMonth());
        format1 += "-";
        format1 += nTime.getDate()<10?"0"+(nTime.getDate()):(nTime.getDate());
        format1 += "T";
        format1 += nTime.getHours()<10?"0"+(nTime.getHours()):(nTime.getHours());
        format1 += ":";
        format1 += nTime.getMinutes()<10?"0"+(nTime.getMinutes()):(nTime.getMinutes());
        // format1 += ":00";
    }

</script>
</html>