<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chl.face.mapper.TestTimeMapper">
    <resultMap id="testTime" type="com.chl.face.entity.TestTime">
        <id column="id" property="id"></id>
        <result column="date" property="date" ></result>

    </resultMap>

<insert id="insert" useGeneratedKeys="true" keyProperty="id">
    insert into test_time (date) values ( #{date} )
</insert>

    <select id="selectAll" resultMap="testTime">
        select * from test_time where id = #{id}
    </select>



</mapper>